
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f7ff;
}

/* Header styles */
header {
    background-color: #141414;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Navigation menu styles */
nav {
    background-color: #272727;
    text-align: center;
    padding: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

a:hover{
    color: #e60000;
}
.header-left {
    float: left;
    /* Adjust the width as needed to fit your logo */
    width: 0%;
}

.header-right {
    float: right;
    /* Adjust the width as needed to balance the header layout */
    width: 80%;
    text-align: left;
}

/* Clear floats after the header elements */
header::after {
    content: "";
    display: table;
    clear: both;
}

.login {
  margin-right: 6%; /* Adjust margin as needed */
  float: right;
  padding-left: 13px;
}

.login a {
  display: inline-block;
  background-color: #c92828;
  color: #e0dcdc;
  border: none;
  border-radius: 5px;
  padding: 9px 19px; /* Example padding for all sides */
  
  text-decoration: none; /* Remove underline from link */
  cursor: pointer;
}

.login a:hover {
  background-color: #e60000; /* Darker red color on hover */
}

.search-bar {
    text-align: right;
}

.search-input {
    width: 300px;
    padding: 0.5rem;
    border: 2px solid #e7e4e4;
    border-radius: 5px;
}

.search-button {
    display: inline-block;
    background-color: #c92828;
    color: #e0dcdc;
    border: none;
    border-radius: 5px;
    padding: 11px 20px;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.search-button:hover {
  background-color: #e60000; /* Darker red color on hover */
}

/* Main content area */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Section styles */
.section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}
p{
    font-family: sans-serifs;
    font-size: 25;
    font-size: larger;
}

/* Footer styles */
footer {
    background-color: #272525;
    color: #fff;
    text-align: center;
    padding: 1rem;
}